#root{
    
    color: white;

    /* height: 100svh; */
    /* width: 100svh; */

    font-family: Montserrat, sans-serif;
}

button {
    background: #1646a0;
    padding: 0 45px;
    border: none;
    border-radius: 25px;
    height: 50px;

    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;

    cursor: pointer;
    transition: .2s;
}

button:hover{
    background: #316ad4;
    height: 55px;
    padding: 10 45px;
    border-radius: 30px;
}

