.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 90%;
}

.game h1{
    font-size: 2.5rem;
}

.points span {
    font-weight: 800;
}

.tip span {
    color: #65a5ff;
}

.wordContainer {
    margin: 1.5rem;
    padding: 1.5rem;
    border: 4px solid #65a5ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter, .whiteSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000000;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background: linear-gradient(#f4eeff, #b39aff);
    color: #000000;
    font-weight: 800;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.letterContainer input {
    height: 80px;
    width: 80px;
    font-size: 2.4em;
    text-align: center;

    border-radius: 8px;
    border: none;
}

.wrongLettersContainer p {
    font-size: 1.8em;
    font-weight: 800;
}